
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex1 {
  width: 100%;
  background-color: rgb(235, 13, 205);
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.flex1 > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

.flex1 > :first-child {
  margin-right: auto;
}

.flex2 {
  display: flex;
  justify-content: center;
}

.flex2-1 {
  width: 300px;
  background-color: rgb(148, 212, 148);
}

.flex2 > .flex2-2 {
  background-color: rgb(35, 161, 56);
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex2-2 > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

.flex3 {
  background-color: rgb(0, 132, 255);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex3 > div {
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
  background-color: rgb(135, 200, 238);
  height: 40px;
}
